.footer{
    background-color: rgb(29, 32, 33);
    height:50px;
    width: flex;
    color:rgb(193, 208, 23);
    font-size:15px;
    padding-top: 20px;
    padding-left: 5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size:17px;
    text-align: center;
}